<html>
  <head> <title></title></head>
    <body>
      <form method="POST" action="/register">
        <p><input type="text" name="name" placeholder="Name"></p>
        <p><input type="email" name="email" placeholder="Email"></p>
        <p><input type="password" name="password" placeholder="Password"></p>
        <p><input type="password" name="repeat_password" placeholder="Repeat Password"></p>
        <p><input type="submit" value="Register"></p>
      </form>
    </body>
</html>
